:root {
    --color-fondo: rgb(69, 152, 219);
    --color-texto: white;
    --color-titulo: #2c3e50;
    --color-caja: #2980b9;
    --borde-rojo: 2px solid red;
    --borde-naranja: 2px solid orange;
    --borde-rosa: 2px solid pink;    
    --borde-verde: 2px solid green;
    --padding-p: 20px;
    --font-encabezado:"Bebas Neue", sans-serif;
}


.contenedor-padre{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 80px 400px 60px;
    gap: 15px;
    padding: 15px;

    grid-template-areas: 
        "encabezado encabezado"
        "principal barra-lateral"
        "pie    pie";    
}

.header {
    grid-area: encabezado;
    background-color: #2c3e50;
    color: var(--color-texto, #ffff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido {
    grid-area: principal;
    background-color: #e8f8f5;
    color: #117a65;        
}

.lateral {
    grid-area: barra-lateral;
    background-color: #34495e;
    color: var(--color-texto, #fff);
}

.footer {
    grid-area: pie;
    background-color: #16a085;
    color: var(--color-texto, #fff);
    display: flex;
    align-items: center;
    justify-content: center;
}